<form>
  <div class="inject">
    <div class="capital-name">
      <label for="capital">Capital</label>
      <input type="text" id="capital" />
    </div>
    <div class="country-name">
      <label for="country">Country</label>
      <input type="text" id="country" />
    </div>
  </div>
  <div class="all-btn">
    <button class="btn-success" type="submit">Add</button>
    <button class="btn-danger" type="button">Delete</button>
    <button class="btn-primary" type="button">Clear</button>
  </div>
</form>
