<header class="header">
  <div class="container">
    <div class="nav">
      <a href="#">
        <img src="../../assets/img/р.svg" alt="project" class="logo"/>
      </a>
      <div>
        <ul class="menu">
          <li><a href="#">Main</a></li>
          <li><a href="#">Employees</a></li>
        </ul>
      </div>
      <ul class="language">
        <li>
          <a href="#" type="button" class="dropdown">Language</a>
          <ul class="dropdown-content">
            <li>Қазақша</li>
            <li>Русский</li>
            <li>English</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
