.header{
   font-size: large; 
}
.nav{
    display: flex;
    align-items: center;
}
.nav a{
    text-decoration: none;
    letter-spacing: 0.1em;
    color: black;
    transition: all 0.5s ease;
}
.menu{
    display: flex;
}
li{
list-style: none;   
}
.menu a{
    margin-right: 50px;
}
.tel{
    margin-left: auto;
}
.logo{
    margin-right: 60px;
}

.nav a:hover{
    background-color: black;
    color:white;
    padding: 10px;
}

