.btn-primary{
    background-color: steelblue;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5%;
}

.row{
    margin-top: 15px;
}

.main-list{
   padding-right: 40px;  
   margin-bottom: 20px;
}