<section class="main-edit">
    <div class="row">
      <form>
          <div class="btn">
              <button class="btn-s">Save</button>
              <button class="btn-c">Cancel</button>
          </div>
          <div class="content">
            <label for="name">Name</label>
            <input type="text" id="name">
            <label for="img">Img URL</label>
            <input type="text" id="img">
          </div>
          <div class="row-1">
            <div>
                <img src="" alt="">
            </div>
          </div>
          <div class="row-2">
              <diV>
                  <LABel>Description</LABel>
                  <textarea type="text" id="des" rows="6" cols="50"></textarea>
              </diV>
          </div>
      </form>
    </div>
</section>
